<ion-list lines="none">
  <ion-item>
    <ion-icon name="newspaper" class="ass-bg"></ion-icon>
    <ion-label>
      <p>8. oktober, 2023</p>
      <h2>Hotel DB assignment</h2>
    </ion-label>
    <ion-checkbox></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-icon name="newspaper" class="ass-bg"></ion-icon>
    <ion-label>
      <p>5. november, 2023</p>
      <h2>GUI & konstruktion</h2>
    </ion-label>
    <ion-checkbox></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-icon name="newspaper" class="ass-bg"></ion-icon>
    <ion-label>
      <p>6. november, 2023</p>
      <h2>Parprogrammering; API</h2>
    </ion-label>
    <ion-checkbox></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-icon name="newspaper" class="ass-bg"></ion-icon>
    <ion-label>
      <p>19. november, 2023</p>
      <h2>API & konstruktion</h2>
    </ion-label>
    <ion-checkbox></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-icon name="newspaper" class="ass-bg"></ion-icon>
    <ion-label>
      <p>15. december, 2023</p>
      <h2>Database Eksamensaflevering</h2>
    </ion-label>
    <ion-checkbox></ion-checkbox>
  </ion-item>
</ion-list>