<ion-header>
  <ion-toolbar class="header" color="darkgrey">
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>ZtudiePlan</ion-title>
    <ion-icon slot="end" name="person"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  

  <ion-card class="indholdCard">
    <ion-card-header>
      <ion-card-title>
        <ion-segment class="segKnap" value="book">

          <ion-segment-button value="book" value="default" (click)="onButtonSelected('button1')">
            <ion-icon name="book" class="book-bg"></ion-icon>
          </ion-segment-button>

          <ion-segment-button value="newspaper" (click)="onButtonSelected('button2')">
            <ion-icon name="newspaper" class="ass-bg"></ion-icon>
          </ion-segment-button>

          <ion-segment-button value="people" (click)="onButtonSelected('button3')">
            <ion-icon name="people" class="event-bg"></ion-icon>
          </ion-segment-button>

        </ion-segment>
      </ion-card-title>
    </ion-card-header>
    
    <div *ngIf="selectedButton==='button1'">
      <app-home-work/>
    </div>

    <div *ngIf="selectedButton==='button2'">
      <app-assignment/>
    </div>
    <div *ngIf="selectedButton==='button3'">
      <app-events/>
    </div>

  </ion-card>


</ion-content>
