      <ion-list lines="none">
        <ion-item>
          <ion-icon name="book" class="book-bg"></ion-icon>
          <ion-label>
            <p>23. oktober, 2023</p>
            <h2>Læs kapitel 5 i Ionic 5</h2>
          </ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-icon name="book" class="book-bg"></ion-icon>
          <ion-label>
            <p>25. oktober, 2023</p>
            <h2>Læs artikel C.Floyd: Prototyping</h2>
          </ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-icon name="book" class="book-bg"></ion-icon>
          <ion-label>
            <p>30. oktober, 2023</p>
            <h2>Læs kapitel 2.8 i Ionic 5</h2>
          </ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-icon name="book" class="book-bg"></ion-icon>
          <ion-label>
            <p>31. oktober, 2023</p>
            <h2>Se videoer om MapReduce</h2>
          </ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-icon name="book" class="book-bg"></ion-icon>
          <ion-label>
            <p>1. november, 2023</p>
            <h2>Læs kapitel 4-5 i Designing for...</h2>
          </ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
      </ion-list>