

        <ion-list lines="none">
          <ion-item>
            <ion-icon name="people" class="event-bg"></ion-icon>
            <ion-label>
              <p>27. oktober, 2023</p>
              <h2>Fredagsbar i Bygning D</h2>
            </ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-icon name="people" class="event-bg"></ion-icon>
            <ion-label>
              <p>30. oktober, 2023</p>
              <h2>Therma Group</h2>
            </ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-icon name="people" class="event-bg"></ion-icon>
            <ion-label>
              <p>31. oktober, 2023</p>
              <h2>AWS Workshop 1: Data Lake</h2>
            </ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-icon name="people" class="event-bg"></ion-icon>
            <ion-label>
              <p>3. november, 2023</p>
              <h2>Fredagsbar i Bygning D</h2>
            </ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-icon name="people" class="event-bg"></ion-icon>
            <ion-label>
              <p>7. november, 2023</p>
              <h2>AWS Workshop 1: Generative AI</h2>
            </ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
        </ion-list>