<ion-header>
  <ion-toolbar class="home-header">
    <ion-title>ZtudiePlan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="selctor-segment">
    <ion-segment [(ngModel)]="calendar.mode">
      <ion-segment-button value="day">DAG</ion-segment-button>
      <ion-segment-button value="week">UGE</ion-segment-button>
      <ion-segment-button value="month">MÅNED</ion-segment-button>
    </ion-segment>
  </div>
  <ion-row class="viewTitle">
    <ion-col size="3">
      <ion-button fill="clear" (click)="previousMonth()">
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col size="6">
      <h2>{{ viewTitle }}</h2>
    </ion-col>
    <ion-col size="3">
      <ion-button fill="clear" (click)="nextMonth()">
        <ion-icon name="arrow-forward" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
  <calendar
    [calendarMode]="calendar.mode"
    (onTitleChanged)="onViewTitleChange($event)"
    [formatHourColumn]="calendar.formatHourColumn"
    [formatWeekTitle]="calendar.formatWeekTitle"
    [sliderOptions]="options"
    [startingDayWeek]="1"
    [startingDayMonth]="1"
    [startHour]="6"
  >
  </calendar>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openList()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
