// Background color
ion-content::part(background) {
  background: var(--ion-color-dark);
}

// Header style

.header {
  background: var(--ion-color-darkgrey);
  color: var(--ion-color-primary);
  text-align: center;
}

//Segment Day/Week/Month Style
.selctor-segment {
  margin: 1rem 1rem 0 1rem;
  border-radius: 0.4rem;
  background: var(--ion-color-light);
  ion-segment-button {
    --background-checked: var(--ion-color-primary);
    --color-checked: var(--ion-color-dark);
    --indicator-color: transparent !important;
  }
}
// viewTitle/the current month title Style
.viewTitle {
  text-align: center;
  h2 {
    color: var(--ion-color-light);
  }
}

body > app-root > ion-app > ion-router-outlet > app-home > ion-content > ion-row > ion-col:nth-child(2) {
  background-color: var(--ion-color-primary);
  border-radius: 15px;
  margin-top: 1rem;
  margin-bottom: -1rem;
}

.content-background {
  background-color: var(--ion-color-darkgrey);
  padding-top: 3rem;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  height: 100%;
}

// Monthview style
.monthview-container {
  .event-detail-container {
  }
  th {
    background: var(--ion-color-darkgrey);
    color: var(--ion-color-light);
  }
  tbody {
    td.text-muted {
      background: var(--ion-color-darkgrey);
    }
    tr:nth-child(odd) td:nth-child(odd):not(.text-muted) {
      background: var(--ion-color-secondary);
    }
    tr:nth-child(even) td:nth-child(even):not(.text-muted) {
      background: var(--ion-color-secondary);
    }
    tr:nth-child(even) td:nth-child(odd):not(.text-muted) {
      background: var(--ion-color-primary);
    }
    tr:nth-child(odd) td:nth-child(even):not(.text-muted) {
      background: var(--ion-color-primary);
    }
  }
}

// Weekview Style
.weekview-container {
  th.calendar-hour-column {
    display: none;
  }
  td {
    display: none;
  }
  th {
    display: flex;
  }
  tr {
    border: 0px;
  }
  tr > th.weekview-header.text-center {
    background-color: var(--ion-color-secondary);
    border: 0px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-bottom: 1rem;
    margin-left: 1.5rem;
    padding: 0;
    padding-top: 1rem;
  }

  div.swiper-slide.slide-container.swiper-slide-active > table {
    border: 0px;
  }
  
  .custom-day-header {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  .week-notifications {
    margin-right: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    gap: 0.3rem;
  }

  .week-notifications ion-icon {
    font-size: 25px;
  }

  .week-notifications div {
    background-color: var(--ion-color-darkgrey);
    padding: 0.5rem;
    bottom: 0;
    display: flex;
    flex-direction: column;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .notifications-badge {
    background-color: var(--ion-color-danger);
    position: relative;
    top: -0.5rem;
    margin-top: -0.5rem;
  }
}

// Dayview Style
.dayview-container {
  // Hides all time intervals

  div.calendar-event-inner {
    background-color: var(--ion-color-secondary);
    opacity: 0.85;
    height: 100%;
    width: 100%;
    margin-left: 5rem;
    border-radius: 15px;
    padding-left: 1rem;
    padding-top: 0.5rem;
  }
}

.modal {
  ion-content::part(background) {
    background: var(--ion-color-dark);
  }

  .modal-header {
    background: var(--ion-color-darkgrey);
    .cancel-button {
      color: var(--ion-color-light);
    }
    .modal-title {
      color: var(--ion-color-primary);
    }
    .add-button {
      color: var(--ion-color-primary);
    }
  }

  .group {
    border-radius: 10px;
    margin: 20px 10px 20px 10px;
    background-color: var(--ion-color-light);
    ion-item {
      background-color: var(--ion-color-light);
      border-radius: 10px;
      margin: 20px 10px 20px 10px;
    }
    .date-time {
      margin-left: 1rem;
    }
  }
}
